<app-header></app-header>

<div class="card">
    <div class="container">
        <h1>{{course.name}}</h1>
        <h3 class="title">Semester</h3>
        <h3>{{course.semester}}</h3>
        <h3 class="title">Degree level</h3>
        <h3>{{course.degreeLevel}}</h3>
        <h3 class="title">Program</h3>
        <h3>{{course.program}}</h3>
        <h3 class="title">On these days</h3>
        <h3>{{course.days}}</h3>
        <h3 class="title">Start</h3>
        <h3>{{course.start}}:15</h3>
        <h3 class="title">End</h3>
        <h3>{{course.end}}:15</h3>
        <h3 class="title">Students on the course:</h3>
        <li  *ngFor="let user of course.users"> 
             {{user.username}}
         </li>
        <button (click)="addCourseToUser()">Add course</button>
        <button routerLink="/comments/{{course.id}}">Add review</button>
    </div>
    
</div>
