<app-header></app-header>

<div class="card">
    <div class="container">
        <h1>{{exam.name}}</h1>
        <h3 class="title">Semester</h3>
        <h3>{{exam.semester}}</h3>
        <h3 class="title">Degree level</h3>
        <h3>{{exam.degreeLevel}}</h3>
        <h3 class="title">Program</h3>
        <h3>{{exam.program}}</h3>
        <h3 class="title">Date</h3>
        <h3>{{exam.date | date:'longDate'}}</h3>
        <h3 class="title">Start</h3>
        <h3>{{exam.start}}:15</h3>
        <h3 class="title">End</h3>
        <h3>{{exam.end}}:15</h3>
        <h3 *ngIf = "!isUsersEmpty" class="title">Students on the exam:</h3>
        <li  *ngFor="let user of users"> 
           {{user.username}}
         </li>
         
        <button *ngIf = "!app.isTeacher && canRegister()" (click)="registerUserToExam()">Register</button>
        <button *ngIf = "app.isTeacher && !isUsersEmpty" (click)="openDialog()">Add grade</button>
        <button *ngIf = "!app.isTeacher && isExamRemovable()" (click)="removeExam()">Remove exam</button>

        <p>{{message}}</p>
    
</div>
