button {
  min-width: 100px;
  margin-top: 40px;
  border-radius: 40px;
  padding: 8px;
  outline: none;
  text-align: center;
  background-color: rgb(233, 210, 180);
}

h3 {
  display: inline-block;
  margin-right: 50px;
  text-align: start;
}
