form {
  position: relative;
  top: 40px;
  left: 40%;
}

.exam-name {
  height: 35px;
  width: 250px;
  border-radius: 40px;
  border-width: 1px;
  padding: 5px 15px;
  outline: none;
  margin-bottom: 20px;
}

select {
  min-width: 90px;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 3px;
  outline: none;
}

.radio {
  margin-bottom: 20px;
  margin-left: 15px;
  display: inline-block;
}

button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: rgb(249, 250, 251);
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

h3 {
  display: inline-block;
  margin-right: 50px;
  text-align: start;
}

div.days {
  max-width: 200px;
}

p {
  color: red;
}
