<app-header></app-header>
<body>

<div class="search">
  <input class="search-box" type="text" placeholder="Search by course name" [(ngModel)]="searchBox"/> 
</div>

<table *ngIf="courses.length > 0">
  <thead>
      <tr>
        <th (click)="sort('name')">Name <i class="fa fa-sort"></i> </th>
        <th (click)="sort('degreeLevel')">Degree level <i class="fa fa-sort"></i></th>
        <th (click)="sort('semester')">Number of semester <i class="fa fa-sort"></i></th>
        <th >Options</th>
      </tr>
    </thead>
  <tbody>
      <tr *ngFor="let course of courses | coursesearchfilter: searchBox | orderBy : key ">
        <td>
          {{ course.name }}
        </td>
        <td>
          {{ course.degreeLevel }}
        </td>
        <td>
          {{ course.semester }}
        </td>
        <td>
            <button routerLink="/coursedetail/{{course.id}}">Details</button>
        </td>
      </tr>
  </tbody>
</table>
<div *ngIf="courses.length == 0"> 
  <p>No courses yet.</p>
</div>

</body>



