<app-header></app-header>
<body>
  <script>var parcelRequire;</script>
    <div class="container-fluid">
        <div class="row p-2">
          <button  [disabled]="isCallStarted$ | async" (click)="showModal(false)">Start Call</button>
          <button [disabled]="isCallStarted$ | async" (click)="showModal(true)">Join Call</button>
          <button [disabled]="!(isCallStarted$ | async)" (click)="endCall()">End Call</button>
        </div>
        <div class="row">
          <div class="col text-center">
            <div id="video-wrapper">
              <video #remoteVideo id="remote-video" [autoplay]="true"></video>
              <video #localVideo id="local-video" [autoplay]="true" [muted]=true></video>
            </div>
          </div>
        </div>
      </div>
         
    </body>
