<app-header></app-header>
<body>

<div class="container">
<div class = "row">
  <div class = "col">
    <h2>Monday</h2>
    <table *ngIf="monday.length > 0">
      <thead>
          <tr>
            <th>Course</th>
            <th>Time</th>
          </tr>
        </thead>
      <tbody>
          <tr *ngFor="let course of monday ">
            <td>
              {{ course.name}}
            </td>
            <td>
              {{ course.start}}:15 - {{ course.end}}:00
            </td>
          </tr>
      </tbody>
  </table>
  <div *ngIf="monday.length == 0"> 
    <p>No classes today.</p>
  </div>
</div>

<div class = "col">
  <h2>Tuesday</h2>
    <table *ngIf="tuesday.length > 0">
      <thead>
          <tr>
            <th>Course</th>
            <th>Time</th>
          </tr>
        </thead>
      <tbody>
          <tr *ngFor="let course of tuesday ">
            <td>
              {{ course.name}}
            </td>
            <td>
              {{ course.start}}:15 - {{ course.end}}:00
            </td>
          </tr>
      </tbody>
  </table>
  <div *ngIf="tuesday.length == 0"> 
    <p>No classes today.</p>
  </div>
</div>
</div>

<div class="row">
<div class = "col">
  <h2>Wednesday</h2>
    <table *ngIf="wednesday.length > 0">
      <thead>
          <tr>
            <th>Course</th>
            <th>Time</th>
          </tr>
        </thead>
      <tbody>
          <tr *ngFor="let course of wednesday ">
            <td>
              {{ course.name}}
            </td>
            <td>
              {{ course.start}}:15 - {{ course.end}}:00
            </td>
          </tr>
      </tbody>
    </table>
    <div *ngIf="wednesday.length == 0"> 
      <p>No classes today.</p>
    </div>
</div>

<div class="col">
  <h2>Thursday</h2>
  <table *ngIf="thursday.length > 0">
    <thead>
        <tr>
          <th>Course</th>
          <th>Time</th>
        </tr>
      </thead>
    <tbody>
        <tr *ngFor="let course of thursday ">
          <td>
            {{ course.name}}
          </td>
          <td>
            {{ course.start}}:15 - {{ course.end}}:00
          </td>
        </tr>
    </tbody>
  </table>
  <div *ngIf="thursday.length == 0"> 
    <p>No classes today.</p>
  </div>
</div>
</div>


<div class="row">
<div class="col">
  <h2>Friday</h2>
  <table *ngIf="friday.length > 0">
    <thead>
        <tr>
          <th>Course</th>
          <th>Time</th>
        </tr>
      </thead>
    <tbody>
        <tr *ngFor="let course of friday ">
          <td>
            {{ course.name}}
          </td>
          <td>
            {{ course.start}}:15 - {{ course.end}}:00
          </td>
        </tr>
    </tbody>
  </table>
  <div *ngIf="friday.length == 0"> 
    <p>No classes today.</p>
  </div>
</div>
</div>

</div>

</body>