<app-header></app-header>

<div class="card">
    <div class="container">
        <form ngNativeValidate (ngSubmit)="saveUser()">
            <div>
                <h3 class="title">E-mail address:</h3>
                <input required class="user-data"
                    type="text"
                    name="user.email"
                    [(ngModel)]="user.email"
                />
                </div>
            <div>
                <p>{{errorMessage}}</p>
              </div>

        <button type="submit">Save</button>
        <button type="reset" routerLink="/profile/{{user.id}}">Back</button>
    </form>
        
    </div>
</div>